// importato file parziali scss
@import "variables";
@import "mixin";

//layout admin indexRegister
#admin_indexRegister {
    .card-header {
        background-color: $blue;
        color: $tortora;

        h5 {
            margin: 0 !important;
        }
    }

    //button dashboard
    .btn_index_admin {
        @include buttonDashboard($yellow, $blue, 0.4rem 1.5rem);
    }
}