// importato file parziali scss
@import "variables";
@import "mixin";

//layout admin indexRegister
#admin_indexRegister {
    .card-header {
        background-color: $blue;
        color: $tortora;

        h5 {
            @include h5($tortora);
            margin: 0 !important;
        }
    }

    //button dashboard
    .btn_index_admin {
        background-color: $blue;
        @include button($tortora, $tortora, 1rem, 600, 0.4rem 1.5rem, $yellow, $blue, $yellow);
    }
}