// importato file parziali scss
@import "resets";
@import "variables";

// layout app.blade
.layout_base {

    .navbar {
        background-color: $yellow;

        .wrapper_logo {
            width: 150px;
        }

        .navbar-toggler {
            color: $blue  !important;
            border-color: $blue  !important;
            padding: 0.25rem 0.5rem !important;
        }

        .font-weight-bold {
            color: $blue  !important;
        }

        a.logout_anchor {
            @include p($red);
            transition: all 0.25s ease-in-out;
            border-radius: 5px;

            &:hover {
                background-color: $red;
                color: white;
                border-radius: 5px;
            }
        }

        @media screen and (max-width: 350px) {

            .wrapper_logo {
                width: 100px;
            }

            .navbar-toggler {
                color: $blue  !important;
                border-color: $blue  !important;
                padding: 0.05rem 0.2rem !important;
            }
        }

        @media screen and (max-width: 200px) {

            .wrapper_logo {
                display: none;
            }
        }
    }


}