//mixin per i button
@mixin button($bgColor, $color, $bgColorHover, $colorHover) {
    background-color: $bgColor;
    color: $color;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;

    &:hover {
        background-color: $bgColorHover;
        color: $colorHover;
    }
}

@mixin buttonDashboard($bgColor, $color, $padding) {
    background-color: $bgColor;
    color: $color;
    padding: $padding  !important;

}
