//mixin per i button
@mixin button($bgColor, $color, $bgColorHover, $colorHover) {
    background-color: $bgColor;
    color: $color;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;

    &:hover {
        background-color: $bgColorHover;
        color: $colorHover;
    }
}

@mixin buttonDashboard($bgColor, $color, $padding) {
    background-color: $bgColor;
    color: $color;
    padding: $padding  !important;

}

@mixin h1 ($color) {
    font-size: 2.5rem;
    font-weight: 900;
    color: $color;
}

@mixin h2 ($color) {
    font-size: 2.25rem;
    font-weight: 700;
    color: $color;
}

@mixin h3 ($color) {
    font-size: 2rem;
    font-weight: 700;
    color: $color;
}

@mixin h4 ($color) {
    font-size: 1.75rem;
    font-weight: 700;
    color: $color;
}

@mixin h5 ($color) {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color;
}

@mixin h6 ($color) {
    font-size: 1.25rem;
    font-weight: 700;
    color: $color;
}

@mixin p ($color) {
    font-size: 1rem;
    font-weight: 600;
    color: $color;
}