// importato file parziali scss
@import "resets";
@import "variables";
@import "mixin";

#plate_index {
    h1 {
        background-color: $tortora;
        @include h1($blue);
    }

    .card {

        .wrapper_img {
            height: 180px;
            background-color: $tortora;

            img {
                object-fit: cover;
                object-position: top;
            }
        }

        h4 {
            @include h4($blue);
        }

        p {
            @include p($blue);
        }

        .btn_modify {
            @include button($blue, $yellow, $yellow, 1rem, 600, 0.4rem 1.5rem, $yellow, $blue);
        }
    }
}