// importato file parziali scss
@import "resets";
@import "variables";

//layout plate.create
#plate_create {
    h1 {
        background-color: $tortora;
        @include h1($blue);
    }

    .card-header {
        background-color: $blue;
        color: $tortora;
    }
}