// reset margin padding
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

// rimosse frecce in input number
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

// aggiungo gap ai bottoni di conferma eliminazione piatto
.swal2-actions {
    gap: 1rem !important;
}