// importate file parziali scss
@import "resets";
@import "variables";
@import "mixin";

#user_index {

    .plates-bg {
        background-color: white;
    }

    // Sfondo dashboard lato ristoratore
    .restaurant-bg {
        background-color: $blue;
        height: calc(100vh - 60px);
    }

    // Immagine ristorante
    .restaurant-img {
        display: flex;
        justify-content: center;
        width: 125px;
        height: 125px;
        flex-shrink: 0;
        margin: 20px auto;
        border-radius: 50%;
        border: 2px solid black;
        background-size: cover;
        background-position: center;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    //button dashboard
    .btn_dashboard {
        @include buttonDashboard($yellow, $blue, 0.4rem 1.5rem);

    }
}