// importato file parziali scss
@import "resets";
@import "variables";
@import "mixin";

#user_index {

    // Sfondo dashboard lato ristoratore
    .restaurant_bg {
        background-color: $blue;
        height: calc(100vh - 60px);
    }

    // Immagine ristorante
    .restaurant_img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 2px solid white;

        img {
            width: 100%;
        }
    }

    .right_column {
        height: calc(100vh - 60px);
        overflow-y: scroll;
    }

    //button dashboard
    .btn_dashboard {
        @include buttonDashboard($yellow, $blue, 0.4rem 1.5rem);
    }

    @media screen and (max-width: 768px) {

        // Sfondo dashboard lato ristoratore
        .restaurant_bg {
            height: auto;
        }

        .right_column {
            height: auto;
            overflow-y: hidden;
        }
    }

}