// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #003049;
$red: #D62828;
$orange: #F77F00;
$yellow: #FCBF49;
$tortora: #EAE2B7;
