// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Resets
@import 'resets';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// import style backend
@import 'layout_base';


// Sfondo dashboard lato ristoratore
.restaurant-bg {
    background-color: #FCBF49;
    height: 100vh;
}

// Immagine ristorante
.restaurant-img {
    display: flex;
    justify-content: center;
    width: 125px;
    height: 125px;
    flex-shrink: 0;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid black;
    background-size: cover;
    background-position: center;

    img {
        width: 100%;
        border-radius: 50%;
    }
}

.plates-bg {
    background-color: #EAE2B7;
}