// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
@import 'variables';

// Resets
@import 'resets';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// import style backend
@import 'mixin';
@import 'layout_base';
@import 'layout_base_left';
@import 'auth_login';
@import 'auth_register';
@import 'plate_index';
@import 'plate_create';
@import 'plate_edit';
@import 'user_index';
@import 'admin_index';
@import 'admin_indexRegister';
@import 'not_found';


// personalizzazione scrollbar
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $yellow;
}

*::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $blue, $alpha: 0.8);
}